.voidContainer{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voidImg{
    width:300px;
}

.voidTitle{
    font-size: 32px;
    margin-bottom: 40px;
}