* {
  font-family: lato;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.red {
  background-color: rgb(238, 45, 45);
  cursor: default;
  color: white;
  border: none;
}
.green {
  background-color: rgba(139, 195, 74, 1);
  cursor: default;
  color: white;
  border-width: 0px;
}
.question {
  font-size: 2rem;
}
.question-title {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
button {
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
  outline: 0px;
}

.quizList {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.quiz-details {
  flex-basis: 20%;
  align-items: center;
}
.quiz-content {
  flex-basis: 70%;
}
.line {
  border-left: 2px solid white;
  align-self: stretch;
}
.option {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1rem;
  border: 1px solid white;
  width: 50%;
  /* margin-left: 10%;
    margin-right: 10%; */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* @media (max-width: 800px) {
    html {
      font-size: 10px;
    }
  } */

.checked {
  text-align: center;
  line-height: 4.2rem;
}
.check-container {
  font-size: 0.7rem;
  border-radius: 200px;
  width: 4.2rem;
  height: 4.2rem;
  border: 1px solid red;
  margin: 10px 20px;
  cursor: pointer;
}
.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.prev {
  margin-right: 2rem;
  cursor: pointer;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  background-color: rgb(153, 23, 114);
  color: white;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* .next {
  margin-left: 2rem;
  font-size: 1rem;
} */

.green-check {
  color: white;
  background-color: green;
}
.unchecked {
  background-color: rgba(219, 201, 201, 0.76);
}
.red-check {
  color: white;
  background-color: rgb(238, 45, 45);
}
