.react-calendar{
    transform: scale(0.75);
    margin-left:-45px;
    margin-top:-20px;
}

.react-time-picker{
    width:200px !important;
}

.checked{
    line-height: auto;
}

.checkbox{
    margin-top:8px;
    line-height: 0px;
}